<!-----------------------------------------------------------------------------
Main Heading
------------------------------------------------------------------------------->
<h1>Manage Categories</h1>

<!-----------------------------------------------------------------------------
Add New Categories
------------------------------------------------------------------------------->
<h2 class="mt-5">Add a Category</h2>
<form id="addForm" class="mx-left p-2">

  <label for="addCatName"> Category Name: </label>
  <input class="form-control w-50" type="text" name="addCatName" id="addCatName" required>

  <label for="addCatDescription"> Category Description: </label>
  <input class="form-control w-50" type="text" name="addCatDescription" id="addCatDescription" required>

  <input class="mt-2" type="submit" name="Add" value="Add">
</form>

<!-----------------------------------------------------------------------------
Update Current Categories
Sources: https://getbootstrap.com/docs/4.0/components/forms/ and
	https://getbootstrap.com/docs/4.0/utilities/borders/
	

------------------------------------------------------------------------------->
<h2 class="mt-5">Categories:</h2>
{{#if categories}}
<table>
  <thead>
    <tr>
      <th class="mx-left p-2">Category Name</th>
      <th class="mx-left p-2">Category Description</th>
    </tr>
  </thead>
  {{#each categories}}
  <tr>
    <td class="mx-left p-2"><input form="updateForm{{this.catID}}" id="catName{{this.catID}}" type="text" name="catName"
        value="{{this.catName}}" required></td>
    <td class="mx-left p-2"><input form="updateForm{{this.catID}}" id="catDescription{{this.catID}}" type="text"
        name="catDescription" value="{{this.catDescription}}" required></td>
    <td class="mx-left p-2">
      <form id="updateForm{{this.catID}}">
        <input form="updateForm{{this.catID}}" type="hidden" name="id" id="{{this.catID}}" value="{{this.catID}}">
        <input form="updateForm{{this.catID}}" type="submit" name="Update" value="Update">
      </form>
    </td>
  </tr>
  {{/each}}
</table>
{{/if}}

<!-----------------------------------------------------------------------------
  Form Submission JS
------------------------------------------------------------------------------->
<script src="categories.js"></script>
